*.exe
*.pdb
*.ilk
*.obj
*.lib
*.exp
*.res
*.sdf
*.suo
*.vcxproj.user
Debug/
Release/
x64/
x86/
out/
build/

CMakeCache.txt
CMakeFiles/
*.cmake
install_manifest.txt

.idea/
*.iml
.cmake/
.vscode/

.vscode/
*.code-workspace

Thumbs.db
Desktop.ini

.DS_Store
.gitignore.orig
*.swp
*.tmp

example_input/